@import "tailwindcss";

@theme {
  --color-primary: #2563EB;
  --color-primary-dark: #1D4ED8;
  --color-primary-light: #DBEAFE;
  
  --color-success: #22C55E;
  --color-favorite: #FACC15;
  --color-danger: #EF4444;

  --font-roboto: "Roboto", sans-serif;
}

@layer base {
  :root {
    --bg-app: #F8FAFC;
    --bg-surface: #FFFFFF;
    --bg-card: #FFFFFF;
    --text-main: #0F172A;
    --text-sub: #64748B;
    --border-color: #E2E8F0;
  }

  .dark {
    --bg-app: #0F172A;
    --bg-surface: #1E293B;
    --bg-card: #334155;
    --color-primary: #60A5FA;
    --text-main: #F8FAFC;
    --text-sub: #CBD5E1;
    --border-color: #475569;
  }

  body {
    background-color: var(--bg-app);
    color: var(--text-main);
    font-family: var(--font-roboto);
    transition: background-color 0.3s ease, color 0.3s ease;
  }
}
